
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MacOS
.DS_Store

# Project Specific
output_lines/
test_output.html
test_wordu.docx
.env
.idea/
.vscode/
_tts_cache/

# Node
node_modules/
.next/
npm-debug.log

# Virtual Env
venv_311/
venv/
uploads/
output/
